/* Gallery Grid */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
}

/* Gallery Card */
.gallery-item {
  border-radius: 5px;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
}
  
