/* Initial Formatting */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background-color: rgb(26, 26, 26);
}

/* Header Formatting */
.website-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 5px solid orange;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.header-picture {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

nav {
 display: flex;
 gap: 30px;
}

nav a {
 font-family: "Nunito", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 1.2em;
 text-decoration: none;
 color: orange;
}

/* Blog Pagination Formatting */
.blog-pagination {
 display: flex;
 justify-content: space-between;
 max-width: 750px;
}

.blog-pagination a {
 font-family: "Nunito", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 1.2em;
 text-decoration: none;
 color: orange;;
 max-width: 750px;
}

.blog-pagination prevblog {
 text-align: left;
}

.blog-pagination nextblog {
 text-align: right;
}

/* Footer Formatting */
.website-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 5px solid orange;
}
