/* Initial Formatting */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background-color: rgb(26, 26, 26);
}

/* Text Formatting */
h0 {
  display: block;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  font-style: italic;
  color: orange;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  color: orange;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

a {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  color: lightblue;
}

/* Table Formatting */

table {
 display: flex;
 max-width: 750px;
 color: white;
 justify-content: center;
 margin-left: auto;
 margin-right: auto;
 border-spacing: 0px;
}

th {
 font-family: "Nunito", sans-serif;
 font-weight: 400;
 font-size: 1rem;
 font-style: normal;
 text-decoration: none;
 padding: 5px;
 border: 1px solid white;
}
 
label {
 font-family: "Nunito", sans-serif;
 font-weight: 700;
 font-size: 1.1rem;
 font-style: normal;
 text-decoration: none;
 max-width: 750px;
 margin-left: auto;
 margin-right: auto;
 color: orange;
}

#sort-by {
 font-family: "Nunito", sans-serif;
 font-weight: 400;
 font-size: 1.1rem;
 border-radius: 20px;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 background-color: orange;
 color: black;
 width: 125px;
}

/* Image Formatting */
img {
  display: block;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Square Picture */
.square-picture {
  width: 300px;
  height: 300px;
}

/* 16:9 Picture */
.widescreen-picture {
  max-width: 750px;
  min-width: 300px;
  width: 50%;
  height: auto;
}

/* 16:9 Picture */
.portrait-picture {
  max-width: 500px;
  min-width: 300px;
  width: 50%;
  height: auto;
}

/* 4:3 Picture */
.fullscreen-picture {
  max-width: 600px;
  min-width: 250px;
  width: 50%;
  height: auto;
}

/* Main Formatting */
.main-content {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/* Linkslist Formatting */
.linklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
  padding: 10px;
}
