/* Initial Formatting */
* {
 margin: 0;
 padding: 0;
 box-size: border-box;

body {
  background-color: rgb(26, 26, 26);
}

/* Header Formatting */
.website-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 5px solid orange;
}

.header-picture {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* Text Formatting */
h0 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  font-style: italic;
  color: orange;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  color: orange;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color: white;
}

/* Image Formatting */
img {
  display: block;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
