/* Initial Formatting */
body {
  background-color: rgb(26, 26, 26);
}

/* Header Formatting */
.website-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 5px solid orange;
}

/* Text Formatting */
h0 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  font-style: italic;
  color: orange;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  color: orange;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color: white;
}
